.login-contents{
    min-height: calc(100vh - 87px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-text{
    border: 1px solid black;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    padding: 0 1rem;
}

.login-button{
    border: 1px solid black;
    background-color: white;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    width: 100%;
}

.to-register{
    border: 1px solid gray;
    font-size: 1.4rem;
    color: gray;
    text-decoration-line: none;
    padding: 0 1rem;
}

.to-register:hover{
    border: 1px solid black;
    color: black;
}