.home-banner{
    min-height: 50vh;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .banner-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .start{
            padding: 0.5rem 2rem;
            border: 1px solid black;
            cursor: pointer;
        }
        .start:hover{
            background-color: black;
            color: white;
        }
    }
    .banner-image{
        background: url('../../Images/youthting3.jpeg');
        background-position: center;
        background-size: cover;
    }
}

.reviews{
    margin: 0 5rem;
    .review{
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 6fr;
        .user-profile-image{
            background: url('../../Images/banana.png');
            background-size: cover;
            background-position: center center;
            width: 10rem;
            height: 10rem;
        }
        .user-review-info{
            margin-left: 2rem;
        }
    }
}